.DS_Store
.npmrc
.gitconfig
/.project
/*.log
/.idea
**/node_modules
**/out
**/coverage/**
**/app/components/dist
**/build
**/dist
npm-debug.log
/nodejs/
**/.gradle
/.jshintrc
/*.orig
/gradle/
/*.iml
.brackets.json
/patches
/.history
/.vscode
/babel_cache
*.orig
npm-debug.log*
/tmp
test/selenium/*.iml
test/selenium/build/
test/selenium/target/
test/selenium/.idea
test/selenium/.gradle
/package-lock.json
